# Ігнорування службових файлів Visual Studio
.vs/
*.suo
*.VC.db
*.VC.opendb
*.ipch
*.log
*.tmp
*.obj
*.pch

# Ігнорування резервних файлів
*.bak
*.swp

# Ігнорування тимчасових файлів
*.tmp
*.cache
*.class
*.dll
